*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Serif JP', serif;
}

/* ------NAVBAR------- */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid gray;
    background-color: black;
    height: 10vh;
    color: whitesmoke;
    margin-bottom: 25px;
}

.navbar button {
    padding: 3px 19px;
    color: whitesmoke;
    background-color: #e81919;
    border: none;
    border-radius: 4px;
}

.links {
    list-style-type: none;
    display: flex;
    align-items:center;
}

.links a {
    margin-right: 15px;
    text-decoration: none;
    color: whitesmoke;
}

/* -------MAIN CONTENT------- */

body {
    background-image: url(./akatsuki.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: gray;
}

.flex-container {
    display: flex;
    margin: 0 auto;
    width: 1200px;
}

.col3{
    flex: 3;
}

.col2{
    flex: 2;
}

.border {
    border: 3px solid gray;
}

.information h1,
.information p,
.affiliations h3,
.affiliations p {
    margin-bottom: 10px;
}

/* --------USER CARD--------- */

.usercard {
border: 3px solid gray;
margin-bottom: 20px;
}

.heading {
    background-color: #e81919;
    height: 80px;
    margin-bottom: 40px;
}

.information{
    padding: 15px;
}

.keep-aligned a {
    text-decoration: none;
}

/* ------AFFILIATION SECTION------ */

.affiliations {
    height: 250px;
}

.affiliations > header,
.connections-requests > header {
    background-color: black;
    color: whitesmoke;
    height: 50px;
    display: flex;
    align-items: center;
}

.affiliations h2,
.connections-requests h2 {
    margin-left: 15px;
}

.affiliations-info {
    padding: 15px;
}

/* -----CONNECTION REQUESTS----------- */

.requests {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.requests-info,
.icons {
    display: flex;
    align-items: center;
}

.connections-requests {
    margin-bottom: 20px;
    margin-left: 20px;
}

/* --------IMAGES-------- */

.markers {
    height: 20px;
    margin-right: 10px;
}

.profile-pic {
    height: 100px;
    border-radius: 50%;
    padding: 4px;
    background-color: gray;
    margin: 15px 0px 0px 15px;
}

.request-images {
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.icon-images {
    height: 40px;
    margin-right: 7px;
}